{% extends 'register.html' %}

{% block modal %}
  <p>Você está prestes a se cadastrar como voluntário do projeto Bike Anjo.</p>

  <p>Somos ciclistas e apaixonados pelo nosso meio de transporte e ajudamos pessoas que querem aprender a andar de bicicleta na cidade com mais segurança.</p>
  <p>Fazemos isso <strong>voluntariamente</strong> e <strong>não cobramos por isso</strong>, pois acreditamos em uma cidade melhor, com um trânsito mais seguro para as pessoas, por meio da educação e orientação, e mais do que isso, porque nós também já fomos iniciantes e sabemos como é começar a pedalar na cidade.</p>
  <p>Pois é, o BikeAnjo é assim: contagiante! Mas antes de se cadastrar, você já leu nossas <strong>orientações para ser um Bike Anjo</strong>? Se não, leia com atenção antes de continuar: <a href="http://bikeanjo.com.br/novobikeanjo" target="_blank">http://bikeanjo.com.br/novobikeanjo</a></p>
  
  <p>O segundo passo é criar um perfil no nosso sistema de informações.</p>
  <p>Precisamos saber sua área de atendimento, disponibilidade e conhecimentos.<p>
  <p>Preencha o máximo de informação que puder (<strong>principalmente no mapa</strong>), e mantenha seu cadastro atualizado.</p>

  <p>Após o cadastro, entraremos em contato com você por e-mail para te dar as próximas orientações. Recomendamos que sua primeira ação como Bike Anjo seja participar de algum dos eventos coletivos realizados na sua cidade. É uma das formas de conhecer outros bikeanjos e saber como trabalhamos.</p>

  <p>Se a sua cidade ainda não tem embaixador, entraremos em contato com você para ajudá-l@ a começar o Bike Anjo em sua cidade.</p>

  <p><strong>Apos seu cadastro fique atento que em breve entraremos em contato com você por e-mail!</strong></p>
{% endblock %}

