{% extends 'register.html' %}

{% block modaltitle %}
Novo pedido de Bike Anjo
{% endblock %}

{% block modal %}
<p>Olá!</p>

<p>Você está prestes a se cadastrar no sistema para pedir um Bike Anjo que te ajude da melhor forma possível a pedalar com segurança e confiança!</p>

<p>Vamos precisar que você leia atentamente o texto abaixo e nos forneça algumas informações para colocarmos você em contato com @ Bike Anjo mais próximo de você. Fique tranquil@ que essas informações não se tornarão públicas.</p>

<p><strong>Bike Anjos</strong> são ciclistas experientes e apaixonados pelo seu meio de transporte que ajudam pessoas que querem aprender a andar de bicicleta na cidade com mais segurança.</p>

<p><strong>O que fazemos:</strong> podemos dar assistência em melhores trajetos para se fazer, acompanhar o ciclista iniciante em suas primeiras pedaladas, e ensinar manutenção básica e medidas de segurança no trânsito.</p>

<p>E o melhor: o “serviço” é <strong>voluntário</strong> e oferecido <strong>gratuitamente</strong>. Isso mesmo, de graça! Mas por que? Porque acreditamos em uma cidade melhor, com um trânsito mais seguro para as pessoas, por meio da educação e orientação, e mais do que isso, porque  nós também já fomos iniciantes e sabemos como é começar a pedalar.

<p><strong>Importante:</strong> o dia-a-dia com a bicicleta após o bike anjo dependerá somente de você. Temos aqui neste site orientações importantes que são também ditas exaustivamente nos “treinos” com @ Bike Anjo. São conceitos importantes de prevenção, como sinalização e postura ao pedalar. Nestes conceitos seguimos sempre as regras do Código de Trânsito Brasileiro.</p>

<p>É fundamental, para a sua segurança futura, que tais recomendações sejam seguidas. Ainda assim, nenhum de nós pode se responsabilizar pelo eventual desrespeito às regras de trânsito, seja por parte do ciclista ou de outros veículos no trânsito. Esteja preparado para isso, assim como todos nós sempre estamos quando entramos num carro ou ônibus.</p>

<p>Avisamos que o nosso sistema ainda está em fase de testes, portanto tenha um pouquinho de paciência se não funcionar exatamente como previamos. ;-)</p>
{% endblock %}

